{% extends 'base.html' %}


{% block titulo %}
   Periodos 
{% endblock titulo %}
    

{% block contenido %}
    <h1>Periodos</h1>
    <a href="{% url "agregar_periodo" %}" class="btn btn-primary">Agregar Periodo</a>
    
    {% if error %}
        <div class="alert alert-danger">{{error}}</div>
    {% endif %}
        
    <table class="table table-striped">
        <thead class="thead-dark">
            <th>ID Periodo</th>
            <th>Nombre del periodo</th>
            <th>Descripción</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            
            {% for periodo in periodos %}
                <tr>
                    <td>{{periodo.id}}</td>
                    <td>{{periodo.nombre}}</td>
                    <td>{{periodo.descripcion}}</td>
                    <td>
                        <a href="{% url "eliminar_periodo" periodo.id%}" class="btn btn-danger btn-sm">Eliminar</a>
                        <a href="{% url "editar_periodo" periodo.id%}" class="btn btn-success btn-sm">Editar</a>
                    </td>
                </tr>
            {% endfor %}
                
        </tbody>
    </table>
{% endblock contenido %}